@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/CenturyGothicRegular.ttf');
}
.App {
	font-family: 'Century Gothic';
}
.background {
	position:absolute;
    height:100%; 
	width:100%; 
	top:0; 
	left:0;
	z-index: 0;
    overflow:hidden;
}
.background > img {
	width: 100%;
	height: 100%;
	opacity: .7;
}
.login-box {
	background: #FFF;
	min-width: 400px;
	width: 25%;
	min-height: 550px;
	position: absolute;
	bottom: 75px;
  	left: 35%;
  	-webkit-box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.27);
  	-moz-box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.27);
  	box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.27);
}
.logo {
	display: block;
	margin: 25px auto;
}
.form-group-collection {
}
.form-group, .form-submit {
	width: 90%;
  	height: 60px;
  	overflow: hidden;
  	position: relative;
  	margin: 15px auto;
}
label {
	position: absolute;
	top: 30px;
	margin: 0 30px;
	color: #5F4B8B;
	font: 400 18px;
	cursor: text;
	transition: .25s ease;
}
.input {
	display: block;
	width: 90%;
	margin: 0 auto;
	padding-top: 30px;
	padding-left: 10px;
	border: none;
	color: #5F4B8B;
	background: #FFF;
	font-size: 20px;
	transition: .3s ease;
	border-bottom: 1px solid #5F4B8B;
}
.input:valid ~ label {
  	top: 0;
  	font: 700 18px;
  	color: rgba(95, 75, 139, 0.5);
}
.input:focus {
  	outline: none;
}
.input:focus ~ label {
  	top: 0;
  	font: 700 18px;
  	color: rgba(95, 75, 139, 0.5);
}
.input:-webkit-autofill {
  	-webkit-box-shadow: 0 0 0px 1000px #FFF inset;
	-webkit-text-fill-color: #5F4B8B !important;
}
.form-submit {
	width: 92%;
	height: 35px;
  	display: inline-grid;
  	grid-template-columns: 70% 30%;
  	grid-template-rows: 30px;
  	vertical-align: middle;
  	align-items: center;
}
input[type="submit"] {
	font-family: inherit;
	grid-column-start: 2;
	border: none;
	background-color: rgb(191, 213,142);
	width: 100%;
	height: 30px;
	color: #FFF;
	cursor: pointer;
	font-size: 18px;
}
input[type="submit"]:disabled {
	background-color: rgba(191, 213,142,0.5);
}
.reminder {
	grid-column-start: 1;
	margin-left: 40px; 
	color: #5F4B8B;
	text-decoration: none;
	vertical-align: middle;
}
.error {
	margin-left: 40px;
	color: #fe5050;
}